

  <!-- BODY -->
  <body id="gradient">
    <div class="container-fluid">
      <h1 class="display-1 col-md-12 text-responsive" style="position:relative; top:150px;">Question</h1>
        <div class="d-flex justify-content-center" style="position:relative; top:500px;" >
          <div class="row">

          <!-- Input and buttons need to be replaced with vue components -->
              <button type="button" class="btn btn-secondary" style=" background: -webkit-linear-gradient(#4b6cb7 0%, #182848 100%); padding: 100px 300px; font-size: 32px">
                A1
              </button>
              <button type="button" class="btn btn-secondary" style=" background: -webkit-linear-gradient(#4b6cb7 0%, #182848 100%); padding: 100px 300px; font-size: 32px">
                A2
              </button>
            </div>
          </div>
          <div class="d-flex justify-content-center" style="position:relative; top:500px;" >
          <div class="row">


                <button type="button" class="btn btn-secondary" style=" background: -webkit-linear-gradient(#4b6cb7 0%, #182848 100%); padding: 100px 300px; font-size: 32px">
                  A3
                </button>
                <button type="button" class="btn btn-secondary" style=" background: -webkit-linear-gradient(#4b6cb7 0%, #182848 100%); padding: 100px 300px; font-size: 32px">
                  A4
              </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
