
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Anim Background JS: https://codepen.io/quasimondo/pen/lDdrF -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="scripts.js"></script>


    <!--Vue JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!-- Local CSS -->
    <link rel="stylesheet" type="text/css" href="style.css" />

    <title>Cranehoot!</title>
  </head>

  <!-- BODY -->
  <body id="gradient">
    <div class="container-fluid">
      <h1 class="display-1 col-md-12 text-responsive" style="position:relative; top:150px;">Question</h1>
        <div class="d-flex justify-content-center" style="position:relative; top:500px;" >
          <div class="row">

          <!-- Input and buttons need to be replaced with vue components -->
              <button type="button" class="btn btn-secondary" style=" background: -webkit-linear-gradient(#4b6cb7 0%, #182848 100%); padding: 100px 300px; font-size: 32px">
                A1
              </button>
              <button type="button" class="btn btn-secondary" style=" background: -webkit-linear-gradient(#4b6cb7 0%, #182848 100%); padding: 100px 300px; font-size: 32px">
                A2
              </button>
            </div>
          </div>
          <div class="d-flex justify-content-center" style="position:relative; top:500px;" >
          <div class="row">


                <button type="button" class="btn btn-secondary" style=" background: -webkit-linear-gradient(#4b6cb7 0%, #182848 100%); padding: 100px 300px; font-size: 32px">
                  A3
                </button>
                <button type="button" class="btn btn-secondary" style=" background: -webkit-linear-gradient(#4b6cb7 0%, #182848 100%); padding: 100px 300px; font-size: 32px">
                  A4
              </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
